
body{
    height: 100vh;
    background-image: url(../assets/pokemon-bg.jpg);
}

.King{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Queen{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 45%;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.Son{
    padding: 16px;
}
img{
    margin-top: 60px;
    height: 35%;
    width: 35%;
    border-radius: 50%;
    
}
.Daughter{
    font-size: smaller;
}